body {
    background-color: #f5f5dc; /* beige */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #89cac3;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin: 20px auto;   
    width: 95%;
}

.navbar button {
    background: white;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.navbar button:hover {
    background-color: #e0e0e0;
}

.card {
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.titulo-educatia {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

/*Cursos*/
.curso-titulo{
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
}